{% extends 'mainsite/base.html' %}
{% load static %}
{% block content %}

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h3 class="margin heading">Atashi Saini</h3>
  <img src="{% static 'mainsite/img/atashi.jpg' %}" class="img-responsive img-circle margin" style="display:inline" alt="Me" width="350" height="350">
  <h3>Graphic Designer | Artist | Freelancer</h3>
</div>
<hr class="outline">

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
  <h3 class="margin">My Experience</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
  <p class="experience"><a href="{% static 'mainsite/assets/resume.pdf' %}">Resume</a> | <a href="https://www.behance.net/AtashiSaini96">Behance</a></p>
</div>
<hr class="outline">

<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">    
  <h3 class="margin">My Work</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <img src="{% static 'mainsite/img/portfolio-04.jpg' %}" class="img img-responsive margin" style="width:100%" alt="Image">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="col-sm-4"> 
      <img src="{% static 'mainsite/img/portfolio-05.jpg' %}" class="img img-responsive margin" style="width:100%" alt="Image">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="col-sm-4"> 
      <img src="{% static 'mainsite/img/portfolio-06.jpg' %}" class="img img-responsive margin" style="width:100%" alt="Image">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
      <a href="{% url 'work' %}" class="btn btn-default btn-lg btn-shadow margin-top">
      <span class="glyphicon glyphicon-search"></span>  Browse More
    </a>
</div>
<hr class="outline">

<!-- Fourth Container -->
<div class="container-fluid bg-1 text-center">
  <h3 class="margin">Want To Place an Order?</h3>
      <a href="{% url 'new-order' %}" class="btn btn-default btn-lg btn-shadow">
      <span class="glyphicon glyphicon-tags"></span>  New Order</a>
</div>

{% endblock content %}

