{% extends 'mainsite/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
    <legend class="form-legend">Place a New Order!</legend>
    <p class="text-muted"><b>* Required Field</b></p>
    <div class="form order-form">
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="form-row col-md-12">
                    {{ form.title|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="form-row col-md-12">
                    {{ form.description|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="form-row col-md-12">
                    {{ form.img|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.amount|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.deadline|as_crispy_field }}
                    <div class="text-muted">MM/DD/YYYY</div>
                </div>
            </div>
            <!-- {{ form|crispy }} -->
            <input class="btn btn-fill margin" type="submit" name="">
        </form>
    </div>
</div>
{% endblock content %}


<!-- 			{% csrf_token %}
			{% for field in form %}
				{% if field.id_for_label == 'id_img' %}
    				<div class="imgfieldWrapper">
        			{{ field.errors }}
        			{{ field.label_tag }}<label class="btn btn-default btn-file"> Upload {{ field }} </label>
        				{% if field.help_text %}
        					<p class="help">{{ field.help_text|safe }}</p>
        				{% endif %}
    				</div>
    			{% else %}
    				<div class="fieldWrapper">
        			{{ field.errors }}
        			{{ field.label_tag }} {{ field }}
        				{% if field.help_text %}
        					<p class="help">{{ field.help_text|safe }}</p>
        				{% endif %}
    				</div>    			
    			{% endif %}
			{% endfor %} -->