{% extends 'mainsite/base.html' %}
{% load static %}
{% block content %}
	<div class="container-fluid bg-3 text-center">    
  <h3 class="margin heading-subtle">My Work</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <img src="{% static 'mainsite/img/portfolio-01.jpg' %}" class="img img-responsive margin" alt="Image">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="col-sm-4"> 
      <img src="{% static 'mainsite/img/portfolio-02.jpg' %}" class="img img-responsive margin" alt="Image">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="col-sm-4"> 
      <img src="{% static 'mainsite/img/portfolio-03.jpg' %}" class="img img-responsive margin" alt="Image">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <hr>
</div>
<div class="container-fluid bg-3 text-center">    
  <div class="row">
    <div class="col-sm-4">
      <img src="{% static 'mainsite/img/portfolio-04.jpg' %}" class="img img-responsive margin" alt="Image">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="col-sm-4"> 
      <img src="{% static 'mainsite/img/portfolio-05.jpg' %}" class="img img-responsive margin" alt="Image">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="col-sm-4"> 
      <img src="{% static 'mainsite/img/portfolio-06.jpg' %}" class="img img-responsive margin" alt="Image">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <hr>
</div>
<div class="container-fluid bg-3 text-center">    
  <div class="row">
    <div class="col-sm-4">
      <img src="{% static 'mainsite/img/portfolio-07.jpg' %}" class="img img-responsive margin" alt="Image">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="col-sm-4"> 
      <img src="{% static 'mainsite/img/portfolio-08.png' %}" class="img img-responsive margin" alt="Image">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="col-sm-4"> 
      <img src="{% static 'mainsite/img/portfolio-09.png' %}" class="img img-responsive margin" alt="Image">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
</div>
{% endblock content %}